/* Google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --text-clr: #fff;
  --icon-clr: #acacbe;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #ccc;
  --outgoing-chat-bg: #343541 !important;
  --incoming-chat-bg: #444654;
  --outgoing-chat-border: #343541;
  --incoming-chat-border: #444654;
}
.light-mode {
  --text-clr: #343541;
  --icon-clr: #a9a9bc;
  --icon-hover-bg: #f1f1f3;
  --placeholder-color: #9f9f9f;
  --outgoing-chat-bg: #fff !important;
  --incoming-chat-bg: #f7f7f8;
  --outgoing-chat-border: #fff;
  --incoming-chat-border: #d9d9e3;
}
body {
  background: var(--outgoing-chat-bg);
}
/* Chat container styling */
.chat-container {
  max-height: 100vh;
  padding-bottom: 150px;
  overflow-y: auto;
  background: var(--outgoing-chat-bg);
}
.default-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding: 0 10px;
  text-align: center;
  color: var(--text-clr);
}
.default-text h1 {
  font-size: 3.3rem;
  font-family: "Livvic", sans-serif;
  border-bottom: 2px solid var(--text-clr);
}
.default-text p {
  margin-top: 10px;
  font-size: 1.1rem;
}
:where(.chat-container, textarea)::-webkit-scrollbar {
  width: 6px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-track {
  background: var(--incoming-chat-bg);
  border-radius: 25px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
  background: var(--icon-clr);
  border-radius: 25px;
}
.chat-container .chat {
  color: var(--text-clr);
  padding: 25px 10px;
  display: flex;
  justify-content: center;
}
.chat-container .chat.outgoing {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
}
.chat-container .chat.incoming {
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}
.chat .chat-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}
.chat .chat-content i {
  font-size: 1.3rem;
  color: var(--icon-clr);
  visibility: hidden;
}
.chat:hover .chat-content:not(:has(.typing-animation, .error)) i {
  visibility: visible;
}
.chat .chat-details {
  display: flex;
  align-items: center;
}
.chat .chat-details img {
  width: 35px;
  height: 35px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 2px;
  user-select: none;
  pointer-events: none;
}
.chat .chat-details p {
  white-space: pre-wrap;
  font-size: 1.05rem;
  padding: 0 50px 0 25px;
}
.chat .chat-details p.error {
  color: #e55865;
}
i.bx-copy {
  user-select: none;
  cursor: pointer;
}
.typing-animation {
  display: inline-flex;
  padding-left: 25px;
}
.typing-animation .typing-dot {
  width: 7px;
  height: 7px;
  opacity: 0.7;
  margin: 0 3px;
  border-radius: 50%;
  background: var(--text-clr);
  animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}
@keyframes animateDots {
  0%,
  44% {
    transform: translateY(0px);
  }
  22% {
    opacity: 0.4;
    transform: translateY(-7px);
  }
  44% {
    opacity: 0.2;
  }
}
/* Typing container style */
.typing-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}
.typing-container .typing-content {
  max-width: 950px;
  width: 100%;
  display: flex;
  align-items: center;
}
.typing-content .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
}
.typing-textarea textarea {
  width: 100%;
  height: 55px;
  border: none;
  resize: none;
  font-size: 1rem;
  border-radius: 4px;
  padding: 15px 45px 15px 20px;
  color: var(--text-clr);
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
  max-height: 250px;
  overflow-y: auto;
}
.typing-textarea textarea::placeholder {
  color: var(--placeholder-color);
}
.typing-textarea i {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.4rem;
  visibility: hidden;
}
.typing-textarea textarea:valid ~ i {
  visibility: visible;
}
.typing-content i {
  height: 50px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-clr);
  cursor: pointer;
}
.typing-controls {
  display: flex;
}
.typing-controls i {
  border: 1px solid var(--incoming-chat-border);
  background: var(--incoming-chat-bg);
  margin-left: 7px;
  font-size: 1.4rem;
  border-radius: 4px;
}
